@using Imtahan.Models
@model List<Lumia>
<table class="table">
    <h3>
        Teams
        <a class="btn btn-primary" asp-action="Create">Create</a>
    </h3>
    <thead>
        <tr>
            <th>Id<th>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>ImageUrl</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>
                    <div style="width:100px">
                        <img width="100px" height="100px" src="~/Upload/slider/@item.ImageUrl" />
                    </div>
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Update" asp-controller="Lumia" asp-route-id=@item.Id>Update</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Lumia" asp-route-id=@item.Id>Delete</a>
                </td>
            </tr>
        }  
    </tbody>
</table>